@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

.mar-5 { margin-top: 5px; }
.mar-10 { margin-top: 10px; }
.mar-20 { margin-top: 20px; }
.mar-25 { margin-top: 25px; }
.mar-30 { margin-top: 30px; }
.mar-35 { margin-top: 35px; }
.mar-50 { margin-top: 50px; }
.mar-70 { margin-top: 70px; }
.mar-100 { margin-top: 100px; }

/* --------------------------------------- RESPONSIVE FONT SIZE */
html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}


/*---------------------------------------------------------*/

body {
    font-family: 'Luckiest Guy', cursive;

    background-color: #1a1a1a;
}

hr {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.menuItem {
    height: 7vh;
    font-size: 1.5em;
    color: #FFF;
    opacity: 0.4;

    line-height: 3em;
}

.menuItem:hover {
    cursor: pointer;
    opacity: 0.8;
}

#firstPage {
    background-image: url("../img/bg7.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    font-family: 'Coiny', cursive;

    color: #FFF;

    height: 100vh;
}

#firstPage hr {
    opacity: 0.5;
    border: 1px solid red;
}

/* -------------------------- */

.box h4 {
    color: #1a1a1a;
    background-color: #ffcc00;
    font-family: 'Righteous', cursive;
}

.box p {
    color: #FFF;
    font-family: 'Shadows Into Light', cursive;

    font-size: 1.6em;
}

._icon {
    font-size: 10em;
    line-height: 3.5rem;

    color: #FFF;
}

#contBig {
    transform:skew(-20deg);
}

.comb {
    background-color: #1a1a1a;
    color: #FFF;
    text-align: center;

    transition: all .2s ease-in-out;

    z-index: 1;
    outline: 2px solid #404040;

    opacity: 0.7;
}

._big {
    height: 50vh;
}

._big:hover {
    transform: scale(1.15) !important;
}

._small {
    outline: 2px solid #404040;
}

._small h4 {
    margin-top: 25px;
}

.comb:hover {
    transform: scale(1.15);
    cursor: pointer;
    background-color: #0099ff;
    z-index: 2;
    opacity: 1.0;
}

.name {
    margin:0;
    padding:0;
    font-family: 'Amatic SC', cursive;
}

._img {
    font-size: 6em;
}

#contactBox {
    background-color: #333333;
    border: 5px solid #ffcc00;
    border-radius: 20px;
}

.formItem {
    color: #FFF;
}

#info {
    color: #FFF;
    font-family: 'Indie Flower', cursive;
}

#info h2 {
    opacity: 0.5;
}

#info p {
    font-size: 1.5em;
}

#socialBox {

}

.social {
    width: 2em;
    height: 2em;

    padding: 10px;
    color: #FFF;

    opacity: 0.6;

    border: 2px solid #0099ff;
    border-radius: 50%;

    font-size: 2em;
    line-height: 1.3em;

    transition: all .1s ease-in-out;
}


.social:hover {
    cursor: pointer;
    background-color: #0099ff;
    opacity: 1.0;
}

#footer {
    color: #FFF;
    text-align:center;

    height: 7vh;
    background-color: #000;
    opacity: 0.5;

    font-size: 1.5em;

    line-height: 2.5em;
    font-family: 'Srisakdi', cursive;
}
