*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, .pure-g [class *= "pure-u"] {
        font-family: 'Luckiest Guy', cursive
    }

body {
    background-color: #333333;
    font-family: 'Luckiest Guy', cursive;
}

#container {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #1a1a1a;
    opacity: 0.7;
}

#menu {
    display: flex;
    justify-content: end;
}

ul {
    height: 5vh;
    font-size: 3vh;
    list-style-type: none;
    background-color: #1a1a1a;
}

li {
    display: block;
    height: 100%;
    line-height: 100%;
    color: #FFF;

    text-align: center;
    line-height: 140%;
}

li:hover {
    background-color: #0099ff;
    cursor: pointer;
}

svg {
    display: block;
    margin: auto;
}

circle:hover {
    fill: #0099ff;
}