*, *::before, *::after{
    box-sizing: border-box;
}

#container {
    width: 20vw;
    height: 20vw;

    margin-left: auto;
    margin-right: auto;

    background-color: orange;
}

svg {
    display: block;
    margin: auto;
}

circle:hover {
    fill: #0099ff;
}